.bg-pink{
    background-color: #fd376a;
}
.bg-green{
    background-color: #3cefc5;
}

.custom-button{
    padding: 10px 5px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    width:10%;
}
.custom-img-div{
    width: 20%;    
}
.custom-nav-items{
    border-bottom: solid;
    border-top: solid;
}